	<div class="center jumbotron">
		<h1>Welcome to App</h1>
		<h3> Sign up for the posts</h3>
		<!-- <h2>
			This is page for Ruby on Rails  tutorial Sample application
		</h2> -->
		<% if !logged_in?  %>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
		<% end %>
	</div>
	<%= link_to image_tag("rails.png", alt: "Rails logo"),'http://rubyonrails.org/' %>