<!-- <h1> <%= @user.name %> </h1> <h2> <%= @user.email %> </h2>
<%= @user.created_at %>

<p> current time is <%= Time.now %> </p> 
 -->
<% provide(:title , @user.name) %>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>

	<div class="col-md-8">
		<% if @user.microposts.any? %>
			<h3> Microposts (<%= @user.microposts.count %>) </h3>
			<ol class="microposts">
				<%= render @microposts %>
			</ol>
			<%= will_paginate @microposts %>
		<% end %>
	</div>

</div>
